<% if target.errors.any? %>
  <ul class = "error-list">
    <% target.errors.full_messages.each do |message| %>
      <li class = "error-list-group"><%= message %></li>
    <% end %>
  </ul>
<% end %>