<% @page_title= "Add New Customer" %>

<h1><%= @page_title %></h1>

<%= render(partial: "form", locals: { action: "create" }) %>

<div>
  <%= link_to "Back", customers_path, class: "btn btn-primary" %>
</div>