<% @page_title= "Images List" %>
<h1><%= @page_title %></h1>

<% if Image.count!=0 %>
  <div>No image is uploaded yet</div>
<% else %>
  <div class="row">
    <% Image.all.each do |image| %>
      <div class="col-sm-3">
        <figure>
          <%= link_to image_tag(image.post.url(:thumb)), image.post.url(:original), target: '_blank' %>
          <figcaption><%= image.img_name %></figcaption>
        </figure>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Back", root_path %>